[submodule "reference_repositories/effect-smol"]
	path = reference_repositories/effect-smol
	url = https://github.com/Effect-TS/effect-smol.git
[submodule "reference_repositories/matt-pocock-skills"]
	path = reference_repositories/matt-pocock-skills
	url = https://github.com/mattpocock/skills.git
